@import 'nib'
@require '../base/base-color'

form
	text-align: center
	fieldset
		border: 3px solid header-color
		display: inline-block
		text-align: left
		legend
			color: purple
			font-size: 2rem
			padding: 0 1rem
		input
			font-size: 2.6rem
		.submit-container
			text-align: center