.see-me
  animation: attention 6s ease infinite


@keyframes attention 
  0% 
    transform: translateX(-3px)
  3% 
    transform: translateX(3px)
  5% 
    transform: translateX(-3px)
  7% 
    transform: translateX(3px)
  9%
    transform: none