header-color = #650164 
logo-color = lighten(header-color,90%)
frame-color = #E6E6E6
background-color = rgb(238,255,255)
/* Azul: #1e70c9   ////  Verdoso: #1c89b4  */

color-success = #3ec042
color-danger = #cc5152

color-op-blue = #5982A6